$bodyW = 1200px
$bodyBgColor = #f1f1f1
$green = #5FBDAB
$blue = #00A0FF
$red = #F15949
$yellow = #FDB933
$black = #333
$gray = #666
$lightGray = #999
$white = #fff
$borderColor = #D5D5D5
$activeColor = $green
$fontBlackColor = #666
$fontLightColor = #999
$lineHeight = 66px
$borderRadius = 4px
$fontSize = 14px
$maskColor = rgba(0, 0, 0, 0.8)

.default
  color $fontBlackColor !important

.red
  color $red !important

.green
  color $green !important

.yellow
  color $yellow !important

.blue
  color $blue !important

.gray
  color #cccccc !important